<?xml version="1.0" encoding="utf-8"?>
<ConfigData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Main>
    <IsLandscape>true</IsLandscape>
    <MainWindowPos>
      <X>14</X>
      <Y>74</Y>
      <Width>800</Width>
      <Height>600</Height>
    </MainWindowPos>
    <MainWindowState>Normal</MainWindowState>
    <ToolBarItems>
      <string>0 1 Sep 2 3 4 5 6 7 Sep 8 9 Sep 11 12 Sep 50 51 52 53 54 55 56 60 61 62 Sep 73 71 72 81 82 83 Sep 100 101 102 Sep 200 201 Sep 202 203</string>
      <string />
      <string />
    </ToolBarItems>
    <MeasDlgLoc>
      <X>183</X>
      <Y>62</Y>
    </MeasDlgLoc>
    <OptDlgLoc>
      <X>-1</X>
      <Y>-1</Y>
    </OptDlgLoc>
    <LSDlgLoc>
      <X>-1</X>
      <Y>-1</Y>
    </LSDlgLoc>
    <MergerDlgLoc>
      <X>-1</X>
      <Y>-1</Y>
    </MergerDlgLoc>
    <AdjSlpWndPos>
      <X>-1</X>
      <Y>-1</Y>
      <Width>-1</Width>
      <Height>-1</Height>
    </AdjSlpWndPos>
    <AdjSlpRaster>Fine</AdjSlpRaster>
    <SerialNo>18072089</SerialNo>
    <Culture />
    <DataDirectory>D:\ryan</DataDirectory>
    <ImportCalifilesDirectory />
    <ImportExportLayoutsDirectory />
    <ImportExportLayoutsCopyMode>Rename</ImportExportLayoutsCopyMode>
    <SaveLayoutsToVideo>true</SaveLayoutsToVideo>
    <SaveLayoutsToSnapshot>true</SaveLayoutsToSnapshot>
    <TrigSaveLayouts>true</TrigSaveLayouts>
    <OpenRFI>1</OpenRFI>
    <SaveSnapshotRFI>1</SaveSnapshotRFI>
    <SaveScreenshotRFI>1</SaveScreenshotRFI>
    <OpenDiffImageRFI>1</OpenDiffImageRFI>
    <MRUList>
      <string>D:\ryan\57836_build3_21_07.ravi</string>
      <string>D:\ryan\57836_build3_2_45.ravi</string>
      <string>D:\ryan\test.ravi</string>
      <string>D:\ryan\xx.ravi</string>
      <string>C:\Users\rhurley\Desktop\57752GTH Data\030 2.ravi</string>
      <string>C:\Users\rhurley\Desktop\57752GTH Data\Build 3-1.ravi</string>
      <string>C:\Users\rhurley\Desktop\57752GTH Data\040 Build 2_2.ravi</string>
      <string>C:\Users\rhurley\Desktop\57752GTH Data\040 Build 2_1.ravi</string>
      <string>C:\Users\rhurley\Desktop\57752GTH Data\040 Build 1_2.ravi</string>
      <string>C:\Users\rhurley\Desktop\57752GTH Data\040 Build 1_1.ravi</string>
    </MRUList>
    <IBOT>30</IBOT>
    <AutoApplyToolsOptions>false</AutoApplyToolsOptions>
    <AutoApplyToolsMeasuring>true</AutoApplyToolsMeasuring>
    <AutoApplyToolsLinescanner>false</AutoApplyToolsLinescanner>
    <EventLog>true</EventLog>
    <EventLogView>true</EventLogView>
    <EventLogFilter>-1</EventLogFilter>
    <EventLogMaxFileSize>5242880</EventLogMaxFileSize>
    <EventLogViewMaxEntries>5000</EventLogViewMaxEntries>
    <FullScreen>false</FullScreen>
    <TouchFontSize>20</TouchFontSize>
    <DevConnect>Any</DevConnect>
    <Mode>Desk</Mode>
    <RecordingBox>
      <Config>true</Config>
      <Calidata>true</Calidata>
    </RecordingBox>
    <captureScreenIsActive>false</captureScreenIsActive>
  </Main>
  <Settings>
    <MeasuringTabPage>4</MeasuringTabPage>
    <LinescannerTabPage>0</LinescannerTabPage>
    <SetupPIFChannelTabPage>0</SetupPIFChannelTabPage>
    <UsedDevType>Local</UsedDevType>
    <EnableEthernetDevices>false</EnableEthernetDevices>
    <TemperatureUnit>Fahrenheit</TemperatureUnit>
  </Settings>
  <Directories>
    <PalettePath>C:\Program Files (x86)\MICRO-EPSILON Messtechnik GmbH u Co KG\TIM Connect\Palette</PalettePath>
  </Directories>
  <RemoteDev>
    <Enable>false</Enable>
    <UseFilter>true</UseFilter>
    <PingFrom>192.168.0.0</PingFrom>
    <PingTo>192.168.0.255</PingTo>
    <Filter>NetBox-; lw-;</Filter>
    <PortControl>27015</PortControl>
    <PortFrames>27016</PortFrames>
    <RemoteReducing>
      <Mode>Avg</Mode>
      <Framerate>20</Framerate>
      <ExtAvgTime>0</ExtAvgTime>
      <ExtAvgPercentage>50</ExtAvgPercentage>
    </RemoteReducing>
  </RemoteDev>
  <Messages>
    <MsgLoadingCalifilesOpenImport>
      <Ask>true</Ask>
      <Answ>None</Answ>
      <Opt>false</Opt>
      <Opt1>false</Opt1>
      <Opt2>false</Opt2>
    </MsgLoadingCalifilesOpenImport>
    <MsgLoadingCalifilesAccessDenied>
      <Ask>true</Ask>
      <Answ>None</Answ>
      <Opt>false</Opt>
      <Opt1>false</Opt1>
      <Opt2>false</Opt2>
    </MsgLoadingCalifilesAccessDenied>
    <MsgAskForSaving>
      <Ask>true</Ask>
      <Answ>No</Answ>
      <Opt>false</Opt>
      <Opt1>false</Opt1>
      <Opt2>false</Opt2>
    </MsgAskForSaving>
    <MsgAskStopTriggeredRecording>
      <Ask>true</Ask>
      <Answ>None</Answ>
      <Opt>false</Opt>
      <Opt1>false</Opt1>
      <Opt2>false</Opt2>
    </MsgAskStopTriggeredRecording>
    <MsgTooBigForJPEG>
      <Ask>true</Ask>
      <Answ>None</Answ>
      <Opt>false</Opt>
      <Opt1>false</Opt1>
      <Opt2>false</Opt2>
    </MsgTooBigForJPEG>
    <MsgLoadConfigFromVideo>
      <Ask>false</Ask>
      <Answ>Yes</Answ>
      <Opt>true</Opt>
      <Opt1>true</Opt1>
      <Opt2>false</Opt2>
    </MsgLoadConfigFromVideo>
    <MsgLoadConfigFromSnapshot>
      <Ask>true</Ask>
      <Answ>Yes</Answ>
      <Opt>true</Opt>
      <Opt1>true</Opt1>
      <Opt2>false</Opt2>
    </MsgLoadConfigFromSnapshot>
    <MsgDownloadCalidata>
      <Ask>true</Ask>
      <Answ>Yes</Answ>
      <Opt>false</Opt>
      <Opt1>false</Opt1>
      <Opt2>false</Opt2>
    </MsgDownloadCalidata>
    <MsgGetDeviceCalidata>
      <Ask>false</Ask>
      <Answ>Yes</Answ>
      <Opt>true</Opt>
      <Opt1>true</Opt1>
      <Opt2>false</Opt2>
    </MsgGetDeviceCalidata>
    <MsgNoPifCable>
      <Ask>true</Ask>
      <Answ>No</Answ>
      <Opt>false</Opt>
      <Opt1>false</Opt1>
      <Opt2>false</Opt2>
    </MsgNoPifCable>
    <MsgPifEEPROM>
      <Ask>true</Ask>
      <Answ>No</Answ>
      <Opt>false</Opt>
      <Opt1>false</Opt1>
      <Opt2>false</Opt2>
    </MsgPifEEPROM>
    <MsgWarningDeviceLost>
      <Ask>true</Ask>
      <Answ>OK</Answ>
      <Opt>false</Opt>
      <Opt1>false</Opt1>
      <Opt2>false</Opt2>
    </MsgWarningDeviceLost>
    <MsgRemoteCalifilesSend>
      <Ask>true</Ask>
      <Answ>None</Answ>
      <Opt>false</Opt>
      <Opt1>false</Opt1>
      <Opt2>false</Opt2>
    </MsgRemoteCalifilesSend>
    <MsgAskTouchOrTablet>
      <Ask>true</Ask>
      <Answ>Cancel</Answ>
      <Opt>false</Opt>
      <Opt1>false</Opt1>
      <Opt2>false</Opt2>
    </MsgAskTouchOrTablet>
    <MsgCloseDeviceOnConfigMerger>
      <Ask>true</Ask>
      <Answ>None</Answ>
      <Opt>false</Opt>
      <Opt1>false</Opt1>
      <Opt2>false</Opt2>
    </MsgCloseDeviceOnConfigMerger>
    <MsgConvertRawToRavi>
      <Ask>true</Ask>
      <Answ>Yes</Answ>
      <Opt>true</Opt>
      <Opt1>false</Opt1>
      <Opt2>false</Opt2>
    </MsgConvertRawToRavi>
    <MsgClippingFormat>
      <Ask>true</Ask>
      <Answ>None</Answ>
      <Opt>false</Opt>
      <Opt1>false</Opt1>
      <Opt2>false</Opt2>
    </MsgClippingFormat>
    <MsgWarningLS1kHzAndHighSpeed>
      <Ask>true</Ask>
      <Answ>None</Answ>
      <Opt>false</Opt>
      <Opt1>false</Opt1>
      <Opt2>false</Opt2>
    </MsgWarningLS1kHzAndHighSpeed>
    <MsgVideoFormatNotValid>
      <Ask>true</Ask>
      <Answ>Yes</Answ>
      <Opt>false</Opt>
      <Opt1>false</Opt1>
      <Opt2>false</Opt2>
    </MsgVideoFormatNotValid>
    <MsgDesktopScaleImproper>
      <Ask>true</Ask>
      <Answ>None</Answ>
      <Opt>false</Opt>
      <Opt1>false</Opt1>
      <Opt2>false</Opt2>
    </MsgDesktopScaleImproper>
    <MsgDiffImageWrongResolution>
      <Ask>true</Ask>
      <Answ>None</Answ>
      <Opt>false</Opt>
      <Opt1>false</Opt1>
      <Opt2>false</Opt2>
    </MsgDiffImageWrongResolution>
  </Messages>
  <Debug>
    <RegisterFilterGraph>false</RegisterFilterGraph>
    <SaveFilterGraph>false</SaveFilterGraph>
    <DontInitControlDevice>false</DontInitControlDevice>
    <DontFreezeFlag>false</DontFreezeFlag>
    <DontNotifyMissingCalifiles>false</DontNotifyMissingCalifiles>
    <SetBiasHoldOn>100</SetBiasHoldOn>
    <FixedTempChipMin>10</FixedTempChipMin>
    <FixedTempChipMax>55</FixedTempChipMax>
    <SkimMode>Conditional</SkimMode>
    <SkimModeXI>Off</SkimModeXI>
    <TBoxTAmbDiff>5</TBoxTAmbDiff>
    <ShowADUs>false</ShowADUs>
    <FlagOldStyle>false</FlagOldStyle>
    <CorrEnable>true</CorrEnable>
    <DPCorrEnable>true</DPCorrEnable>
    <DynDPCorrEnable>true</DynDPCorrEnable>
    <FlagForecastEnable30>true</FlagForecastEnable30>
    <FlagForecastEnable>false</FlagForecastEnable>
    <RadialDistEnable>true</RadialDistEnable>
    <FocusmotorPosition>false</FocusmotorPosition>
    <TestPattern>
      <Mode>0</Mode>
      <xTile>5</xTile>
      <yTile>5</yTile>
      <From>0</From>
      <To>4800</To>
      <Offset>
        <X>0</X>
        <Y>0</Y>
      </Offset>
      <RestartAny>0</RestartAny>
      <Filename />
    </TestPattern>
    <EnableSkipWithVisCam>true</EnableSkipWithVisCam>
  </Debug>
</ConfigData>